/*  your css code here. If applicable */
.blog-column{
	background-color:#e2e1e0;
	width:800px;
	display:flex;
	height:600px;
	justify-content:space-evenly;
	flex-wrap:wrap;
	}
.item{color:black;
	  background-color:white;
	  height:150px;
	  width:30vw;
}
.item3{
	color:black;
	  background-color:white;
	  height:150px;
	  width:30vw;
	}